$main-color: #42567a;
$gradient-blue: #3877ee;
$gradient-pink: #ef5da8;
$text-blue: #5d5fef;
$text-pink: #ef5da8;
$text-blue: #3877ee;
$line-color-mobile: #c7cdd9;
$pagination-bullet-active: #42567a;
